/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

params {
    run_analyses = params.analyses.split(',').toList()
    skip_analyses = params.skip? params.skip.split(',').toList() : []
}

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

/*
    withName: FASTQC {
        ext.args = '--quiet'
    }
*/

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SPATIAL_TO_H5AD' {
        ext.args   = ''
        // ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            path: { "${params.outdir}/${params.technology}/mtx_conversions/${meta.id}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'CONCAT_H5AD' {
        ext.args   = ''
        // ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            path: { "${params.outdir}/${params.technology}/mtx_conversions" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: 'MAKE_REPORT' {
        publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode
        ]
        // docker.registry = 'docker'
    }

}

if (params.technology == "vizgen") {
    process {
        if (params.run_analyses.contains('primary') and !params.skip_analyses.contains('segmentation_partition_metadata')) {
            withName: 'VPT_QUANTIFICATION' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }

            withName: 'VPT_SEGMENTATION' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }

            withName: 'VPT_PARTITION' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }

            withName: 'VPT_METADATA' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }

        }

        if (params.run_analyses.contains('primary') and !params.skip_analyses.contains('sum_signals')) {
            withName: 'VPT_SUM_SIGNALS' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }
        }

        if (params.run_analyses.contains('primary') and !params.skip_analyses.contains('update_vzg')) {
            withName: 'VPT_UPDATE_VZG' {
                ext.args   = ''
                // ext.prefix = { "${meta.id}.filtered" }
                publishDir = [
                    path: { "${params.outdir}/${params.technology}/${meta.id}" },
                    mode: params.publish_dir_mode,
                    saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
                ]
            }
        }

    }
}


process {

    if (params.run_analyses.contains('secondary') and !params.skip_analyses.contains('qccellfilter')) {
        withName: 'QC_CELL_FILTER' {
            ext.args   = params.args_qccellfilter ?: ''
            // ext.prefix = { "${meta.id}.filtered" }
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }

    if (params.run_analyses.contains('secondary') and !params.skip_analyses.contains('clustering')) {
        withName: 'CLUSTERING_ANALYSIS' {
            ext.args   = params.args_clustering ?: ''
            // ext.prefix = { "${meta.id}.filtered" }
            publishDir = [
                path: { "${params.outdir}" },
                mode: params.publish_dir_mode,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            ]
        }
    }

}
